.body {
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80);
}
.bodyHeader {
  overflow-x: hidden;
}
.main-image {
  background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}
.filter:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.load {
  margin-left: 50%;
  margin-bottom: 1%;
  background-color: white;
  border: none;
  color: blue;
}
.load:hover {
  background-color: white;
  color: blue;
}

.g-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;

  margin-top: -50px;
  margin-left: -50px;
}

.main {
  background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vw;
  position: relative;
  background-attachment: fixed;
}

.das {
  padding-bottom: 100%;
  padding-left: 40%;
  color: red;
  padding-top: 123px;
  margin-left: -120px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 45px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ff1a1a;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  text-shadow: 5px 5px 10px #000000;
}

.customBtn {
  padding-bottom: 300px;
  margin-left: -50px;
  height: 10px;
}
.cardImg {
  transform: scale(1);
  width: 100%;
  height: 50%;
}
.cardImg:hover {
  transform: scale(1.07);
}
#card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
